@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Protecting Hyped Sales on E-commerce Websites from Bad Bots in 2022</h2>
       <h3>CS6727 - Practicum by Sam Lee</h3>
    <p><em>TODO: Decription ........</em></p>
    <br /><br />
    <a href="~/Home/PurchaseQuantity">Purchase Quantity & Jigged Address Protected</a>
    <br /><br />
    <br /><br />

    <a href="~/Home/DataDome">Datadome Protected</a>
    <br /><br />
    <a href="~/Home/Google">Google reCaptcha Protected</a>
    <br /><br />
    <a href="~/Home/Perimeter">Perimter X Protected</a>
    <br /><br />
    
</div>
